* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Sora", sans-serif;
    background: linear-gradient(to right, #ffdad5, #fff7f9);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    width: 80vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.input-area {
    margin-top: 2rem;
    margin-bottom: 1rem;
    text-align: center;
}

.generated-content {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

#generatedImageContainer {
    margin-right: 1rem;
    border-radius: 8px; /* Adjust to match the desired rounded corner */
    overflow: hidden; /* Makes sure the image respects the border radius */
}

#stats {
    text-align: left;
    margin-left: 1rem;
    background: #fff;
    padding: 1rem;
    border-radius: 8px; /* Adjust to match the desired rounded corner */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

input[type="text"], button {
    margin: 10px 0;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px; /* Reduced roundness */
}

button {
    cursor: pointer;
    background-color: #f09;
    color: white;
    border: none;
}

button:hover {
    background-color: #c07;
}
